*{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	/* background-color: #373737; */
	background-image: url("Images/stripe-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
nav{
	width: 100%;
	height: 50px;
	position: fixed;
	padding-top: 15px;
}
nav ul li{
	display: inline;
	margin-right: 20px;
}

nav ul a{
	text-decoration: none;
	color: white;
}
nav ul{
	float: right;
}

#imageHeader{
	max-width: 100%;
	height: auto;
}
.headerOverlay{
	position: absolute;
	color: white;
	top: 45%;
	left: 45%;
}
.headerOverlay a:hover{
	opacity: 1;
	transition: 1s;
}
.headerOverlay	h1{
	font-size: 50px;
	margin-bottom: 50px;
	margin-left: -95px;
	font-family: Lucida Calligraphy;
}
.headerOverlay img{
	width: 100px;
	transform: rotate(90deg);
	margin-top: 100px;
	opacity: .7;
}
.headerOverlay img:hover{
	opacity: 1;
	transition: .5s;
}

#main{
	color: white;
	width: 500px;
	height: auto;
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 20px 50px;
	box-shadow: 0px 10px 50px #111;
}
.box-container{
	padding: 20px 50px;
	background-color: #EEE;
}
.box{
	background-color: white;
	box-shadow: 0px 10px 8px #111;
	width: 250px;
	color: black;
	display: inline-block;
	margin-right: 25px;
	margin-left: 40px;
}
#box-image img{
	width: 250px;
	height: auto;
}
#box-description{
	font-family: Lucida Bright;
	margin: 1px 4px;
	font-size: 14px;
}
.reviews-container{
	padding: 50px 50px;
}
#reviews{
	font-family: Lucida Bright;
	font-size: 14px;
	background-color: white;
	box-shadow: 0px 1px 10px #111;
	width: 250px;
	color: black;
	display: inline-block;
	padding: 10px 25px;
	margin: 0px 10px;
	height: 250px;
}
#reviews b{
	font-size: 20px;
}

footer{
	margin-top: 50px;
	background-color: #111;
	height: 250px;
	color: white;
	padding: 10px 25px;
	width: 100;
}
